{% extends 'base.html' %}
{% load static %}

{% block title %}クリエイト | It's My Life{% endblock title %}

{% block content %}
    <article  id="create" class="container">
        <form method="post" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <th>カテゴリ</th>
                    <td>{{ form.category }}</td>
                </tr>
                <tr>
                    <th>タイトル</th>
                    <td>{{ form.title }}</td>
                </tr>
                <tr>
                    <th>詳細</th>
                    <td>{{ form.desc }}</td>
                </tr>
                <tr>
                    <th>ショップ<span class="mini">　＊command で複数選択</span></th>
                    <td>{{ form.shop }}</td>
                </tr>
            </table>
            <div class="box_btn">
                <a class="button" href="javascript:history.back();">キャンセル</a>
                <button type="submit" name="create">作成・更新</button>
            </div>
        </form>
    </article >
{% endblock content %}